@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

:root {
  --dark-color: black;
  --light-color: white;
  --main-duration: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Francois One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  cursor: none;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--dark-color);
}

main ul {
  list-style: none;
}

.link {
  color: var(--light-color);
  font-size: 3.5rem;
  width: min-content;
  text-transform: uppercase;
  overflow: hidden;
}
.link:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.cursor {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  /* background-color: var(--light-color); */
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all var(--main-duration) ease;
  transform-origin: 100% 100%;
  transition-property: transform, background-color;
  mix-blend-mode: difference;
}

.grow {
  transform: scale(4) translate(25%, 25%);
  background-color: var(--light-color);
}

/* .is-hovered::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 30px;
  background-color: white;
  animation: animate var(--main-duration) linear forwards;
} */

@keyframes animate {
  0% {
    width: 0%;
  }
  85%,
  90%,
  100% {
    width: 100%;
  }
}
